body{
    padding: auto;
    margin: auto;
 
}
.btn-primary{
    margin:5% 3% 5% 0;
    padding: 2%;
}
.container{
    
    margin-top: 5%;
    margin-left: 10%;
    padding: 2%;
    background-color: #BF43F5;
}
.row{
    padding-left: 20%;
}
.form-group{
    margin: 5%;
    padding: 0px;
}
/*.container{
    margin-top: 4%;
    margin-bottom: 10%;
    margin-left: 13%;
   padding: 100px;
   justify-content: center;
}*/
.text-center{
    padding-bottom: 30px;
}
@media(min-width:1028px)
{
   .container{
      
   }
}
/*@media (max-width: 1028px){
   .container{
        text-align: center;
    }*/